.chip {
  height: 0.65em;
  width: 0.65em;
  display: inline-block;
  border-radius: 100%;
  margin-left: 0.5em;
}

.inlineList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.5rem 0;
  align-items: center;
}

.label {
  cursor: pointer;
  border: 1px solid #aaa;
  display: flex;
  gap: 0.25rem;
  padding: 0.5rem;
  align-items: center;
  transition: box-shadow 90ms ease-in;

  &:hover {
    box-shadow: 0 0 0 1px #484848;
  }

  &.selected,
  &[aria-selected] {
    box-shadow: 0 0 0 1px #484848;
    border-color: #484848;
  }
}
