.grid{
    display: grid;
    grid-row-gap: 1rem;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header"
    "main"
}

.header{
    grid-area: header;
}

.main {
    grid-area: main;
    background-color:yellow;
}
