@use '../../../../styles/defaults' as *;
@use '../../../../styles/variables' as *;

.compareVersions {
  > h2 {
    padding-top: 0.5em;
    text-align: center;
    font-size: 1.15em;
  }
}

.modifiedVersion {
  > div {
    margin: 0;
  }
}

.versions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
}
