@use '../../../../styles/defaults' as *;
@use '../../../../styles/variables' as *;

.compareVersions {
  padding: 1rem;

  @media screen and (min-width: $tablet-breakpoint) {
    margin: 0.5rem;
  }
  @media screen and (min-width: $screen-breakpoint) {
    max-width: 90vw;
    margin: 0;
  }

  > h2 {
    padding-bottom: 0.75em;
    text-align: center;
  }
}

.versions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.originalVersion {
  font-size: 1.1em;
}