@use '../../../../styles/defaults' as *;
@use '../../../../styles/variables' as *;

.modifiedVersion {
  > div {
    margin: 0;
  }
}

.versions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
}
