@use '../../../../styles/defaults' as *;
@use '../../../../styles/variables' as *;

.editor {
  height: calc(100vh - 267px);
  border: 1px solid $main-border-color;

  @media screen and (min-width: $tablet-breakpoint) {
    margin-top: 0.5rem;
  }
  @media screen and (min-width: $screen-breakpoint) {
    max-width: 90vw;
    margin: 0 auto;
  }
}
