@use '../../../../styles/defaults' as *;
@use '../../../../styles/variables' as *;

.editor {
  min-height: 200px;
  height: calc(100vh - 340px);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);

  @media screen and (min-width: $tablet-breakpoint) {
    margin: 0.5rem;
  }
  @media screen and (min-width: $screen-breakpoint) {
    max-width: 90vw;
    margin: 0 auto;
  }
}