@use '../../../../styles/defaults' as *;
@use '../../../../styles/variables' as *;

.editor {
  @extend .wrapped-center;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
  min-height: 200px;
  height: calc(100vh - 120px);
}