@use '../../../../styles/defaults' as *;
@use '../../../../styles/variables' as *;

.editor {
  min-height: 200px;
  height: calc(100vh - 250px);

  :global {
    .monaco-editor {
      position: absolute;
    }
  }
}
