@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.expandleft {
  @extend .details;
  padding-bottom: 1em;
  border-right: 1px solid $main-border-color;
  border-bottom: 1px solid $main-border-color;
  margin-top: -1em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  overflow-y: auto;
  max-height: calc(100vh - 76px);
  > button {
    color: $main-color;
    margin-left: auto;
    margin-right: 1em;
  }
}

.retractleft {
  @extend .details;
  margin-top: -1em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  > button {
    margin-left: 1em;
    margin-right: 1em;
  }
  .open {
    background-color: rgba(0, 0, 0, 0);
    white-space: nowrap;
  }
}
