@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.compareVersions {
  @extend .wrapped-center;
  padding: 1rem;

  > h2 {
    padding-bottom: 0.75em;
    text-align: center;
  }
}

.versions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}