@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.section {
  > h1 {
    font-size: 1.2rem;
    @extend .clickable;
    padding: 0.5rem;

    display: flex;
    align-items: center;
  }
  > p {
    padding: 0.5rem;
  }
}
