@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.section {
  > h1 {
    @extend .clickable;

    display: flex;
    align-items: center;
  }
  > p {
    padding: 0.5rem;
  }
}
