@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

#section {
  > h1 {
    font-size: 1.2rem;
    @extend .clickable;
    border-top: 1px solid $main-border-color;
    border-bottom: 1px solid $main-border-color;
    padding: 0.5rem 1rem;
    background-color: $main-background-color;

    display: flex;
    align-items: center;
  }
}

.headlineItem {
  @extend .clickable;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  border-bottom: 1px solid transparent;

  &:nth-child(2n + 1) {
    border-bottom-color: $main-background-color;
    background-color: $main-background-color;
  }

  &:hover,
  &:focus {
    color: $main-color-links;
    border-bottom-color: $main-color-links;
  }
}
