@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.versionsList {
  font-size: 0.9em;
  margin-top: 0.75em;
  > li {
    padding: .5rem;
    > a:first-child {
      display: block;
    }
  }
  > li:nth-child(2n + 1) {
    background-color: $main-background-color;
  }
  > li.selected {
    background-color: $selected-background;
  }
  > li.compareTo {
    background-color: $beware-background;
  }
  > p {
    padding: 0.5rem 1rem;
  }
}

.actions {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  justify-content: flex-end;
  font-size: 0.9em;

  > li:not(:last-child) {
    margin-right: 0.5em;
  }
}

.newVersion {
  margin-left: auto;
}

.editMode {
  font-size: 0.8rem;
  margin-top: 0.75em;
  margin-left: 0.5em;
}
