@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;
@use '../articles.module.scss' as article;

.versionsList {
  font-size: 0.9em;
  > li {
    padding: .5rem;
  }
  > li:nth-child(2n + 1) {
    background-color: $main-background-color;
  }
  > li.selected {
    background-color: $selected-background;
  }
  > li.compareTo {
    background-color: $beware-background;
  }
  > p {
    padding: 0.5rem 1rem;
  }
}

.editTitleButton {
  @extend article, .editTitleButton;
  height: auto;
  padding: .4em .25em;
}

.momentAgo {
  @extend article, .momentsAgo;
}

.versionNumber {
  margin-left: .25em;
  &::after {
    content: ")";
  }
  &::before {
    content: "(";
  }
}

.actions {
  display: flex;
  gap: 0.5em;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  justify-content: flex-end;
  font-size: 0.9em;
}

.newVersion {
  margin-left: auto;
}

.editMode {
  font-size: 0.8rem;
  margin-top: 0.75em;
  margin-left: 0.5em;
}
