@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1em;
  max-height: calc(100vh - 91px);
}

.simplePage {
  background-color: $extra-background-color;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 5rem auto;
  padding: 2rem;
  width: 100%;
  max-width: 50%;
}

.previewPage {
  @extend .wrapped-center;
  background-color: $extra-background-color;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  min-height: 200px;
  padding: 2rem;

  :global {
    header:first-of-type,
    hr#startArticle {
      display: none;
    }

    [role='doc-bibliography'] {
      margin-top: 3em;
    }
    [role='doc-biblioentry']:not(:last-of-type) {
      margin-bottom: 0.5em;
    }
  }
}

.article {
  @extend .wrapped-center;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  textarea {
    padding: 1rem;
    width: 100%;
  }

  > pre,
  > div > pre {
    margin-top: 0;
    padding: 1rem;
    width: 100%;
    white-space: pre-wrap;
    flex: 1 1 50%;
  }
}

.error {
  @extend .simplePage;
  color: $error-color;
}

.errorContainer {
  height: calc(100vh - 220px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: auto;
  margin-top: 5em;
}

:global {
  .monaco-editor {
    position: absolute;
  }
}
