@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.simplePage {
  background-color: $extra-background-color;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
  margin: 5em auto;
  padding: 10em 2em;
  width: 50%;
}

.previewPage {
  @extend .wrapped-center;
  background-color: $extra-background-color;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
  min-height: 200px;
  padding: 2rem;

  :global {
    header:first-of-type,
    hr#startArticle {
      display: none;
    }

    [role="doc-bibliography"] {
      margin-top: 3em;
    }
    [role="doc-biblioentry"]:not(:last-of-type) {
      margin-bottom: 0.5em;
    }
  }
}

.article {
  @extend .wrapped-center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: calc(100vh - 64px);

  textarea {
    padding: 1rem;
    width: 100%;
  }

  > pre,
  > div > pre {
    margin-top: 0;
    padding: 1rem;
    width: 100%;
    white-space: pre-wrap;
    flex: 1 1 50%;
  }
}

.error {
  @extend .simplePage;
  color: $error-color;
}

.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

:global {
  .monaco-editor {
    position: absolute;
  }
}
