@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.sliderleft {
  @extend .slider;
  transition: left 0.5s ease, background 0.5s ease, border 0.5s ease;
  border-right: 1px solid $main-border-color;
}

.side {
  display: flex;
  flex-direction: column;
  margin-left: -420px;
  animation-duration: 0.25s;
  animation-name: slideout;
  margin-top: -1rem; /* clip it to the header */
}

.expanded {
  animation-duration: 0.25s;
  animation-name: slidein;
  margin-left: 0;
  flex: 0 0 400px;  /* sidebar takes the space, and has independant scrolling */

  .menu {
    position: fixed;
  }
}

.focusMode {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.25rem 0 0;
}

@keyframes slideout {
  from {
    margin-left: 0;
  }

  to {
    margin-left: -420px;
  }
}

@keyframes slidein {
  from {
    margin-left: -420px;
  }

  to {
    margin-left: 0;
  }
}

.menu {
  background-color: rgba(255, 255, 255, 1);
  border-right: 1px solid $main-border-color;
  min-height: calc(100vh - 49px);
  max-height: calc(100vh - 49px);
  overflow-y: scroll;
  width: 400px;
}

.actions {
  display: flex;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 0.9em;
  justify-content: flex-end;
  gap: 1em;
  padding: 0 0.5rem;
}

//
//.expandleft {
//  @extend .sliderleft;
//  left: 0;
//  background-color: rgba(255, 255, 255, 1);
//
//  > nav {
//    color: $main-color;
//    right: 0;
//    transition: right 0.5s ease;
//    z-index: 90;
//  }
//}
//
//.retractleft {
//  @extend .sliderleft;
//  left: -400px;
//  background-color: rgba(255, 255, 255, 0);
//  border-right: 0px solid $main-border-color;
//  > nav {
//    right: -80px;
//    transition: left 0.5s ease;
//  }
//  .open {
//    color: grey;
//    background-color: rgba(0, 0, 0, 0);
//  }
//}
