[submodule "sails/templates"]
	path = sails/templates
	url = https://framagit.org/ecrinum/templates-stylo.git
[submodule "export/src/templates-stylo"]
	path = export/src/templates-stylo
	url = https://framagit.org/stylo-editeur/templates-stylo.git
