@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.acquintances {
  h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  form {
    margin-bottom: 1rem;
  }

  margin-bottom: 1rem;
}

.acquintance {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;

  &:nth-of-type(2n + 1) {
    background-color: $alternate-row-color;
  }
}

.acquintanceEmail {
  display: block;
  font-size: 0.9em;
}

.acquintanceActions {
  display: flex;
  column-gap: 0.5em;
  align-items: center;
}
