@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.alert {
  background-color: red;
  color: white;
  padding: 1rem;
  button.delete {
    border: 1px solid white;
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
    @extend .clickable;
  }
  button.cancel {
    border: 1px solid white;
    color: red;
    background-color: white;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    @extend .clickable;
  }
}

.deleteMe {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.clickMeOff {
  @extend .clickable;
  @extend .primary-button;
  display: inline-block;
  margin-right: 0.5rem;
  border: 1px solid $main-border-color;
}

.clickMeOn {
  @extend .clickable;
  @extend .secondary-button;
  display: inline-block;
  margin-right: 0.5rem;
  border: 1px solid $main-border-color;
}

.section {
  @extend .wrapped-center;
  padding: 1rem;
  border: 1px solid $main-border-color;
  background-color: $extra-background-color;
  > h1 {
    margin-bottom: 1rem;
  }
  > p {
    margin-bottom: 1rem;
  }

  > article:nth-of-type(2n + 1) {
    background-color: $alternate-row-color;
  }
}

.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 1rem;
  position: relative;

  .editTitleButton {
    border: none;
    background-color: transparent;
    padding: 0 0 0 .25em;
    margin: 0;
    vertical-align: baseline;

    > svg {
      height: 0.75em;
      margin: 0;
      padding: 0;
    }
  }

  .title,
  .renamingForm {
    cursor: pointer;
    flex: 1 1 60%;
  }

  .title {
    display: inline-flex;
    align-items: center;
  }

  .renamingForm {
    display: flex;
  }

  .actionButtons {
    flex: 1 1 40%;
    text-align: right;
  }

  .metadata,
  .deleteArticle {
    width: 100%;
  }

  .metadata {
    h4 {
      margin-bottom: 0.25rem;
    }
    > p:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .metadataAuthoring {
    font-size: .9em;
  }

  .versions {
    margin-bottom: 1rem;
  }

  .tagChip {
    font-size: 0.6rem;
    display: inline-block;
    padding: 0.25rem;
    margin-right: 0.5rem;
    border-radius: 100% 100%;
  }

  .author {
    font-style: italic;
  }

  .contributors {
    padding-left: .5em;
  }

  .editTags {
    > ul {
      display: flex;
      flex-wrap: wrap;

      > li {
        margin: 0 .5rem .5rem 0;
      }
    }
  }
}

.momentsAgo {
  opacity: .5;
  margin-left: .5em;
}

.button {
  @extend .clickable;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  background-color: $button-primary-background !important;
  color: $button-primary-color !important;
}
.buttonsec {
  @extend .clickable;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: 1px solid $main-border-color;
}

.primary {
  background-color: $button-primary-background !important;
  color: $button-primary-color !important;
}

.tags {
  @extend .clickable;
  display: inline-block;
  border: 1px solid $main-border-color;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.filterByTags {
  display: flex;
  flex-wrap: wrap;
  > li:not(:last-child) {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.selectedTags {
  @extend .tags;
  background-color: $button-primary-background !important;
  color: $button-primary-color !important;
}

.searchField {
  input {
    width: 100%;
  }
  padding: 0.5rem 0;
}

.previewContainer {
  border: none;
  width: 100%;
  height: 100vh;
  display: flex;
}

.articlePreviewNav {
  margin: 1em 20%;

  svg {
    vertical-align: sub;
  }

  a {
    margin-left: .5em;
    margin-right: .5em;
  }
}
