@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.articleCounter {
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  padding-left: 0.75em;
}

.icon {
  display: flex;
}

.alert {
  background-color: red;
  color: white;
  padding: 1rem;

  button.delete {
    border: 1px solid white;
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
    @extend .clickable;
  }

  button.cancel {
    border: 1px solid white;
    color: red;
    background-color: white;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    @extend .clickable;
  }
}

.deleteMe {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.clickMeOff {
  @extend .clickable;
  @extend .primary-button;
  display: inline-block;
  margin-right: 0.5rem;
  border: 1px solid $main-border-color;
}

.clickMeOn {
  @extend .clickable;
  @extend .secondary-button;
  display: inline-block;
  margin-right: 0.5rem;
  border: 1px solid $main-border-color;
}

.section {
  @extend .wrapped-center;
  padding: 1rem;
  border: 1px solid $main-border-color;
  background-color: $extra-background-color;

  > h1 {
    margin-bottom: 1rem;
  }

  > p {
    margin-bottom: 1rem;
  }

  > article:nth-of-type(2n + 1) {
    background-color: $alternate-row-color;
  }
}

.articlesHeader {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.switchAccount {
  display: grid;
  grid-template-columns: min-content max-content 1fr;
  align-items: center;
  min-height: 2.5rem;
  column-gap: 0.5rem;
  color: $button-secondary-color;

  > div::after {
    border: 2px solid $button-secondary-color;
    border-right: 0;
    border-top: 0;
  }
}

.accountSelect {
  border: 1px solid $button-secondary-color;
  font-size: 1.125rem;
  font-weight: bold;
}


/**
 * Filters
 */
.filtersContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.filtersTags {
  flex-grow: 1;
}

.filtersOwners {
  text-align: right;
}

.filtersOwnersSelector {
  position: relative;

  > label {
    cursor: pointer;
    font-weight: bold;
  }
}

.filtersOwnersButtons {
  position: absolute;
  right: 0;
  top: calc(1rem + 0.5rem + 0.2rem + 1px);
}

.filtersOwnersButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filtersOwnersCombobox,
.filtersOwnersMenu {
  text-align: left;
}

.filtersOwnersCombobox {

  /* clears the 'X' from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}

.filtersOwnersMenu:not(:empty) {
  background-color: #fff;
  border: 1px solid #aaa;
  padding: .25em .5em;
  position: absolute;
  width: 100%;
  z-index: 900;
}

/**
 * Articles list
 */

hr.horizontalSeparator {
  border: 1px solid $main-border-color;
  margin: 1rem auto;
  max-width: 250px;
}

.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 1rem;
  position: relative;

  .title,
  .renamingForm {
    cursor: pointer;
    flex: 1 1 60%;
  }

  .title {
    display: inline-flex;
    align-items: center;
  }

  .renamingForm {
    display: flex;
  }

  .actionButtons {
    flex: 1 1 40%;
    text-align: right;
  }

  .metadata,
  .deleteArticle {
    width: 100%;
    margin-left: 0.5em;
  }

  .metadata {
    h4 {
      margin-bottom: 0.25rem;
    }

    > p:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .metadataAuthoring {
    font-size: .9em;
  }

  .versions {
    margin-bottom: 1.5rem;
  }

  .tagChip {
    font-size: 0.6rem;
    display: inline-block;
    padding: 0.25rem;
    margin-right: 0.5rem;
    border-radius: 100% 100%;
  }

  .author {
    font-style: italic;
  }


  .contributors {
    padding-left: .5em;
  }

  .editTags {
    > ul {
      display: flex;
      flex-wrap: wrap;

      > li {
        margin: 0 .5rem .5rem 0;
      }
    }
    margin-top:0.5rem;
    margin-bottom: 1rem;
  }
}

.editTitleButton {
  border: none;
  background-color: transparent;
  padding: 0 0 0 .25em;
  margin: 0;
  vertical-align: baseline;

  > svg {
    height: 0.75em;
    margin: 0;
    padding: 0;
  }
}

.momentsAgo {
  opacity: .5;
  margin-left: .5em;
}

.button {
  @extend .clickable;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  background-color: $button-primary-background !important;
  color: $button-primary-color !important;
}

.buttonsec {
  @extend .clickable;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: 1px solid $main-border-color;
}

.primary {
  background-color: $button-primary-background !important;
  color: $button-primary-color !important;
}

.tags {
  @extend .clickable;
  display: inline-flex;
  border: 1px solid $main-border-color;
  padding: 0.5rem;
  margin-right: 0.5rem;
  align-items: center;
  gap: 0.1em;
}

.filterByTags {
  display: flex;
  flex-wrap: wrap;

  > li {
    display: flex;
    margin-bottom: 0.5rem;
  }
  > li:not(:last-child) {
    margin-right: 0.5rem;
  }

  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.selectedTags {
  @extend .tags;
  background-color: $button-primary-background !important;
  color: $button-primary-color !important;
}

.searchField {
  input {
    width: 100%;
  }

  padding: 0.5rem 0;
}

.previewContainer {
  border: none;
  width: 100%;
  height: 100vh;
  display: flex;
}

.articlesTableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.createTagButton {
  cursor: pointer;
  user-select: none;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  padding: 0.25em 1.25em;
  line-height: inherit;
  color: $main-lighter-color;
}

.workspaces {
  display: flex;
  flex-wrap: wrap;
  > li:not(:last-child) {
    margin-right: 0.5em;
  }
  margin-top:0.5rem;
  margin-bottom: 1rem;
}

.sharing {
  margin-top:0.5rem;
  margin-bottom: 1rem;
}

.contributors {
  margin-right: 0.75rem;
  margin-top: 0.5rem;
  padding-left: 0 !important;

  display: flex;
  flex-wrap: wrap;
}

.contributor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.35em 0.5em;
  margin-bottom: 0.25em;
  border: 1px solid grey;
  margin-right: 0.5rem;
}

.contributorInfo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 2.5em;
  margin-right: 1em;
}

.contributorName {
  font-weight: 500;
}

.contributorEmail {
  font-size: 0.95em;
  font-weight: 400;
  padding-bottom: 0.25em;
}

.contributorsAction {
  margin-top: 0.5em;
}

.contributorActions {
  display: flex;
  gap: 0.5em;
  margin: auto;
}

.contributorRevoke {
  display: flex;
  gap: 0.35em;
}

