@use '../styles/defaults' as *;
@use '../styles/variables' as *;

@mixin inlineTextButton {
  height: 1.75em;
  border: none;
  background-color: transparent;
  padding: 0 0 0 0.25em;
  margin: 0;
  vertical-align: baseline;

  > svg {
    height: 0.75em;
    margin: 0;
    padding: 0;
  }
}

.editTitleButton {
  @include inlineTextButton;
}

.article {
  display: grid;
  grid-template-columns: 2rem 3fr 2fr;
  grid-template-areas: "toggle title actions"
                       ". metadata metadata"
                       ". details details";
  gap: 0;
  padding: .5rem;
  margin-bottom: .5rem;
  position: relative;

  .inlineField {
    flex: 1;
  }

  .deleteArticle {
    width: 100%;
    margin-left: 0.5em;
  }

  .metadataAuthoring {
    display: flex;
    gap: .5rem;
    font-size: 0.9em;

    > * {
      flex-shrink: 0;
    }
  }

  .versions {
    margin-bottom: 1.5rem;
  }

  .author {
    font-style: italic;
  }

  .editTags {
    > ul {
      display: flex;
      flex-wrap: wrap;

      > li {
        margin: 0 0.5rem 0.5rem 0;
      }
    }

    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}

.areaTitle {
  grid-area: title;
  display: flex;
  align-items: center;

  .title {
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-wrap: balance;

  }
}

.areaActions {
  grid-area: actions;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  text-align: right;
}

.areaMetadata {
  grid-area: metadata;
  padding: .5rem 1rem .5rem 0;
}

.areaDetails {
  grid-area: details;
  padding: .5rem 1rem .5rem 0;
}

.sendText,
.sendIcon {
  vertical-align: middle;
}

.sendIcon {
  height: 1em;
  width: 1em;
}

.toggleButton {
  grid-area: toggle;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.contributorNames {
  display: inline-flex;
}

.momentsAgo {
  opacity: 0.5;
}

.workspaces {
  display: flex;
  flex-wrap: wrap;

  > li:not(:last-child) {
    margin-right: 0.5em;
  }

  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.corpusList {
  display: flex;
  flex-wrap: wrap;

  > li:not(:last-child) {
    margin-right: 0.5em;
  }

  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
