@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.articleCounter {
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  padding-left: 0.75em;
  padding-right: 0.5em;
  margin-left: auto;
}

.section {
  @extend .wrapped-center;
  padding: 1rem;
  border: 1px solid $main-border-color;
  background-color: $extra-background-color;
  height: calc(100vh - 7rem);
  display: grid;
  grid-auto-rows: min-content min-content min-content 1fr;

  > h1 {
    margin-bottom: 1rem;
  }

  > p {
    margin-bottom: 1rem;
  }

  article:nth-of-type(2n + 1) {
    background-color: $alternate-row-color;
  }
}

.articlesHeader {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.filtersContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.filtersTags {
  border: none;
  padding: 0;
}

.button {
  @extend .clickable;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  background-color: $button-primary-background !important;
  color: $button-primary-color !important;
}

.searchField {
  input {
    width: 100%;
  }

  padding: 0.5rem 0;
}

.previewContainer {
  border: none;
  width: 100%;
  height: 100vh;
  display: flex;
}

.articlesTableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.articlesList {
  overflow-y: auto;
  scroll-margin-inline-end: 1rem;
  scrollbar-gutter: stable;
}
