.stats {
  position: sticky;
  bottom: 18px; // height of the footer
  display: flex;
  justify-content: center;
  color: #4a4a4a;
  font-size: 0.85rem;
  background-color: #f9f9f9;
  padding: 0.5rem;
  border: 1px solid #d8d8d8;
  min-width: 450px;
}

.stats > li:not(:last-child)::after {
  content: '•';
  margin: 0 0.5em;
}
