@use '../styles/defaults' as *;
@use '../styles/variables' as *;

@mixin actionField {
  border: none;
  user-select: none;
  margin: 0;
  align-items: center;
  box-shadow: none;
  display: inline-flex;
  font-size: 1em;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding: calc(.5em - 1px) calc(.8em - 1px);
  position: relative;
  vertical-align: top;
  text-decoration: none;
  cursor: pointer;
}

@mixin selectField {
  appearance: none;
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: 0;
  padding-right: 2.5em;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  width: 100%;

  &:disabled {
    @extend .isDisabled;
  }
}

@mixin selectFieldContainer {
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: top;

  &:after {
    right: 1.125em;
    z-index: 4;
    border: 3px solid #000;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -0.55em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .625em;
  }
}

.select {
  @include actionField;
  @include selectField;
}

.selectContainer {
  @include selectFieldContainer;
}

.button {
  @include actionField;

  > svg {
    margin-right: 0.3em;
  }
}

a.button:not(.primary), a.icon:not(.primary) {
  color: currentColor;
}

.link {
  background-color: transparent;
  border: none;
  color: currentColor;
  cursor: pointer;
  font-size: inherit;
  text-decoration: underline;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.small {
  font-size: .8rem;
}

.primary {
  @extend .button;

  background-color: #000;
  color: #fff;
  border: 1px solid #000;

  &:disabled {
    color: rgb(170, 170, 170);
    background-color: rgba(239, 239, 239, 0.3);
    border-color: rgba(118, 118, 118, 0.3);
  }
}

.primary:hover:not([disabled]),
.primary:focus-visible:not([disabled]) {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}

.secondary {
  @extend .button;

  background-color: #fff;
  color: #000;
  border: 1px solid #000;

  &:disabled {
    color: rgb(170, 170, 170);
    background-color: rgba(239, 239, 239, 0.3);
    border-color: rgba(118, 118, 118, 0.3);
  }
}

.secondary:hover:not([disabled]),
.secondary:focus-visible:not([disabled]) {
  background-color: rgba(0, 0, 0, 0.2);
}

.tertiary {
  @extend .button;

  background-color: transparent;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.isDisabled {
  cursor: not-allowed !important;
  pointer-events: none;

  color: rgb(170, 170, 170);
}

.primaryDisabled {
  @extend .primary;
  @extend .isDisabled;
}

.icon {
  @extend .button;

  background: none;
  border: none;
  transition: color 1s ease, background 1s ease;
  color: currentColor;

  &:hover:not([disabled]),
  &:focus-visible:not([disabled]),
  &.isDisabled {
    background: none;
    opacity: 0.5;
  }
  &:active:not([disabled]) {
    background-color: $button-primary-background;
    color: $button-primary-color;
    transition: none;
  }

  &:disabled {
    background: none;
    cursor: not-allowed !important;
    pointer-events: none;
  }

  > svg {
    margin: 0;
  }
}

.toggle {
  transition: none;
  &:active:not([disabled]) {
    background: none;
  }
  &:hover:not([disabled]),
  &:focus-visible:not([disabled]) {
    opacity: 1;
    background-color: rgba(239, 239, 239, 0.8);
  }
}

.textarea {
  border: 1px solid #000;
  padding: 1rem;
}
