@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.contacts {
  margin-top: 1em;
}
.contact {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  min-height: 4rem;

  &:nth-of-type(2n + 1) {
    background-color: $alternate-row-color;
  }
}

.contactEmail {
  display: block;
  font-size: .9em;
}
