@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.section {
  @extend .wrapped-center;
  padding: 1rem;
  border: 1px solid $main-border-color;
  background-color: $extra-background-color;
  margin-bottom: 1rem;

  > p {
    margin-bottom: 0.5rem;
  }

  > h2 {
    margin-bottom: 1rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.zotero {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.passwordForm {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.warningMessage {
  border: 1px solid hsl(39, 100%, 50%);
  background-color: hsl(39, 100%, 95%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}
.apiKeyField {
  :global {
    & .control {
      border: 1px solid $main-border-color;
      display: flex;
      align-items: center;
      max-width: 50%;
      align-self: start;
      padding-left: 0.5rem;
    }
  }
}

.apiKeyValue {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &,
  & + button {
    vertical-align: middle;
  }
}
