@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.section {
  @extend .wrapped-center;
  padding: 1rem;
  border: 1px solid $main-border-color;
  background-color: $extra-background-color;
  margin-bottom: 1rem;

  > p {
    margin-bottom: 0.5rem;
  }
}

.passwordForm {
  display: flex;
  flex-wrap: wrap;
}

.warningMessage {
  border: 1px solid hsl(39, 100%, 50%);
  background-color: hsl(39, 100%, 95%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
}
