@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.section {
  padding: 1rem;
  border: 1px solid $main-border-color;
  background-color: $extra-background-color;
  margin-bottom: 1rem;

  > p {
    margin-bottom: 0.5rem;
  }
}

.passwordForm {
  display: flex;
  flex-wrap: wrap;
}
