@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.export {
  > h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

.bibliographyPreview {
  background-color: $main-background-color;
  margin-bottom: 1em;
  min-height: 5em;
  padding: 1em;

  [role='doc-bibliography'] {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}
