@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.export {
  > h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

.bibliographyPreview {
  background-color: $main-background-color;
  margin-bottom: 1em;
  min-height: 5em;
  padding: 1em;
}
