@mixin inputField {
  align-items: center;
  border: 1px solid #000000;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding: calc(.5em - 1px) calc(.75em - 1px);
  position: relative;
  vertical-align: top;
  width: 100%;
}

.field {
  display: flex;
  align-items: flex-start;
  margin-bottom: .5rem;
  margin-top: .5rem;

  label {
    flex-shrink: 0;
    margin-right: 1rem;
    padding: calc(0.5em - 1px) 0;
    flex-basis: 10rem;
    text-align: end;

    &[for] {
      cursor: pointer;
    }
  }

  input, textarea {
    @include inputField;
  }

  :global {
    .control {
      align-self: center;
      box-sizing: border-box;
      clear: both;
      font-size: 1rem;
      position: relative;
      text-align: inherit;
      width: 100%;
      word-break: break-word;
    }

    .control.has-icons-left .input {
      padding-left: 2.5em;
    }

    .icon {
      left: 0;
      color: #898989;
      height: 2.5em;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 2.5em;
      z-index: 4;
      align-items: center;
      display: inline-flex;
      justify-content: center;
    }
  }
}

.withPrefix {
  input, textarea {
    padding-left: calc(var(--chars-count) * 0.55em);
  }
}

.prefix {
  opacity: .4;
  padding: calc(.5em + 1px) 0 calc(.5em + 1px) calc(.75em + 1px);
  position: absolute;
  z-index: 10;
  user-select: none;
}

.textEditor {
  border: 1px solid #000000;

  .margin-view-overlays {
    display: none;
  }
}

.footer {
  margin: 1rem 0 0;
  padding-left: calc(10rem + 1rem);
}

.inlineFields {
  display: flex;

  > * {
    flex: 0 0 auto;
  }
}

.fullWidth {
  flex: 1 0 auto;

  :global {
    .input {
      width: 100%;
    }
  }
}
