@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.headerContainer {
  background-color: $main-color;
  color: $main-background-color;
  margin-bottom: 1rem;

  @media print {
    & {
      display: none;
    }
  }


  a {
    color: $main-background-color;
  }
}

.header {
  @extend .wrapped-center;
  height: 65px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;

  .menuLinks {
    display: flex;
    align-items: center;

    & > li {
      margin-left: 1em;
      font-weight: 600;
      font-size: 1.1rem;
    }
  }
}

.documentationLink {
  display: flex;
  font-weight: normal;
  gap: 0.35em;
  align-items: center;
  font-size: 0.9rem;
  text-decoration: none;
}

.documentationLink::after {
  content: "\2197";
}

.secondaryNav {
  padding-left: 2em;
  height: 100%;
  display: flex;
  gap: 2em;
  position: relative;
}

.logo {
  a {
    text-decoration: none;

    img {
      height: 1em;
      vertical-align: middle;
    }
  }
}

.registerAction {
  margin-right: 1.25em;
}

.logoutAction{
  margin: 0 1.25em;
  cursor: pointer;
}

.linkIcon {
  margin: 0 .2em;
  vertical-align: middle;
}

.footerContainer {
  margin: 1em 0;
  text-align: center;

  @media print {
    & {
      display: none;
    }
  }
}

.footerList {
  list-style: none;

  > li {
    display: inline;

    &:not(:last-child):after {
      content: "•";
      margin: 0 .5em;
    }
  }
}

.consentLabel {
  cursor: pointer;
  font-size: .8em;
  vertical-align: middle;
}
