@use "sass:color";
@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.beware {
  background-color: $beware-background;
}

.box {
  max-width: 30rem;
  padding: 1rem;
  border: 1px solid $main-border-color;
  background-color: $extra-background-color;
  margin: 1rem auto;

  :last-child {
    margin-bottom: 0;
  }

  h1 {
    margin: 0 0 .75em;
    text-align: center;

  }

  form > fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 0;
    margin: 0 0 1em 0;
    padding: 0;

    legend {
      font-weight: bold;
      margin: 0 0 1rem;
      padding: 0;
      font-size: 1.1rem;

      + .help {
        margin-top: -1rem;
        margin-bottom: 0;
      }
    }
  }

  p {
    padding-bottom: 0.5rem;
  }

  p:last-child {
    padding-bottom: 0;
  }

  hr {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.help {
  font-size: .9em;
  margin: .25em 0 1rem;
}



.inlineIcon {
  margin-right: .25em;
  vertical-align: middle;
}

%humaNumBtn {
  text-decoration: none;
  display: block;
  color: white;
  font-weight: 200;
  padding: 0.5em 2em .5em 3em;
  position: relative;
  margin-bottom: 0.25em;

  &:focus {
    outline: 1px solid $main-color;
  }

  &::before {
    content: '';
    width: 1.25em;
    display: block;
    background-size: contain;
    background-image: url('/images/huma-num-logo.svg');
    background-position: left center;
    background-repeat: no-repeat;
    position: absolute;
    left: 1em;
    top: 0;
    bottom: 0;
  }
}

a.humaNumCreateAccountBtn {
  @extend %humaNumBtn;
  background-color: #f7931e;

  &:hover, &:focus {
    background-color: color.adjust(#f7931e, $lightness: 5%);
  }
}

a.humaNumConnectBtn {
  @extend %humaNumBtn;
  background-color: #c00;

  &:hover, &:focus {
    background-color: color.adjust(#c00, $lightness: 5%);
  }
}

.actions {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.actionsSubmit {
  margin-left: auto;
}

.disclaimer {
  max-width: 30rem;
  padding: 1rem;
  border: 1px solid $main-border-color;
  background-color: $extra-background-color;
  margin: 1rem auto;

  p {
    text-align: center;
  }
}
