@use 'sass:color';
@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.beware {
  background-color: $beware-background;
}

.box {
  max-width: 30rem;
  padding: 1rem;
  border: 1px solid $main-border-color;
  background-color: $extra-background-color;
  margin: 1rem auto;

  :last-child {
    margin-bottom: 0;
  }

  p {
    padding-bottom: 0.5rem;
  }

  p:last-child {
    padding-bottom: 0;
  }

  hr {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.help {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

.inlineIcon {
  margin-right: 0.25em;
  vertical-align: middle;
}

%humaNumBtn {
  text-decoration: none;
  display: block;
  color: white;
  font-weight: 200;
  padding: 0.5em 2em 0.5em 3em;
  position: relative;
  margin-bottom: 0.25em;

  &:focus {
    outline: 1px solid $main-color;
  }

  &::before {
    content: '';
    width: 1.25em;
    display: block;
    background-size: contain;
    background-image: url('/images/huma-num-logo.svg');
    background-position: left center;
    background-repeat: no-repeat;
    position: absolute;
    left: 1em;
    top: 0;
    bottom: 0;
  }
}

a.humaNumConnectBtn {
  @extend %humaNumBtn;
  background-color: #c00;

  &:hover,
  &:focus {
    background-color: color.adjust(#c00, $lightness: 5%);
  }
}

.actions {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.actionsSubmit {
  margin-left: auto;
}

.disclaimer {
  max-width: 30rem;
  padding: 1rem;
  border: 1px solid $main-border-color;
  background-color: $extra-background-color;
  margin: 1rem auto;

  p {
    text-align: center;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border: 0;
  margin: 1rem 0 2rem;
  padding: 0;
}
