@use '../styles/defaults' as *;
@use '../styles/variables' as *;

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.45);
}

:global {
  body[data-scrolling='false'] {
    overflow: hidden;
  }

  #root {
    display: flex;
    flex-direction: column;
  }
}

:root {
  --spacing: 1rem;
}

.title {
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.subtitle {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.25rem;
  font-weight: 400;
}

.modal {
  width: 90vw;
  max-width: 750px;
  max-height: 90vh;
  overflow: auto;
  background-color: $extra-background-color;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 0;
}

.content {
  padding: var(--spacing);
}

.modal[open] {
  animation: slide-in 0.35s ease-in forwards;
}

@keyframes slide-in {
  0%{
    opacity:0;
    transform: translate3d(0px, -30px, 0px);
  }
  100%{
    opacity:1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.modalHeader {
  margin-bottom: 1.5rem;
}

.modalBody {
  margin: var(--spacing) 0;
}

.closeButton {
  gap: 0.35em;
  font-weight: 400;
  font-size: 0.9rem;
  align-items: center;
  margin-left: auto;
  display: flex
}
