@use '../styles/defaults' as *;
@use '../styles/variables' as *;

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  padding: 1rem;
  width: 90vw;
  max-width: 750px;
  max-height: 90vh;
  overflow: auto;
  background-color: $extra-background-color;

  footer {
    margin-top: 1.5rem;
  }
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
}
