@use '../styles/defaults' as *;
@use '../styles/variables' as *;

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

:global {
  body[data-scrolling="false"] {
    overflow: hidden;
  }
}

:root {
  --spacing: 1rem;
}

.title {
  font-size: 1.3rem;
}

.modal {
  padding: var(--spacing);
  width: 90vw;
  max-width: 750px;
  max-height: 90vh;
  overflow: auto;
  background-color: $extra-background-color;

  footer {
    margin-top: calc(var(--spacing) * 1.5);
  }
}

.modalBody {
  margin: var(--spacing) 0;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
}
