@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.simplePage {
  padding: 1.5rem 1rem 2rem;
  border: 1px solid $main-border-color;
  background-color: $extra-background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 50%;
  height: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
