.workspaces {
  > h4 {
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 600;
    padding-bottom: 0.65em;
  }
}
.workspaceItem {
  font-size: 0.9em;
  font-weight: 400;
  padding: 0.5em 1em 0.35em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.workspaceSelected {
  background-color: #4a4a4a;
  border-radius: 6px;

  > svg {
    color: #eeeeee;
  }
}

.workspaceName {
  flex: 1;
}

.chip {
  display: block;
  height: 1.35em;
  width: 1.35em;
  border-radius: 4px;
  margin-right: 0.75em;
}

.chevron {
  margin-left: 0.5em;
  color: #505050;
}

.workspacesLink {
  padding-left: 1em;
  padding-top: 0.75em;
  font-size: 0.9em;
  font-weight: 300;
  cursor: pointer;
  > a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    > svg {
      stroke-width: 1;
    }
  }
}

.footer {
  margin-top: 1.5em;
  padding-top: 0.75em;
  border-top: 1px solid #606060;
}

.container {
  position: relative;
  display: flex;
  gap: 1em;
}

.link {
  display: flex;
  cursor: pointer;
  gap: 0.5em;
  align-items: center;
}

.documentationLink {
  display: flex;
  font-weight: normal;
  gap: 0.35em;
  align-items: center;
  font-size: 0.9rem;
  text-decoration: none;
}

.documentationLink::after {
  content: "\2197";
}

.menu {
  position: absolute;
  top: 36px;
  right: -16px;
  background-color: black;
  padding: 1em 1.25em;
  z-index: 99;
}

.persona {
  background: #e5e5e5;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userBlock {
  display: flex;
  align-items: center;
  gap: 1em;
}
.userCard {
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.userInfo {
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

.username {
  font-weight: 600;
  font-size: 0.9em;
}

.email {
  font-weight: 200;
  font-size: 0.85em;
}

.logoutButton {
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
}
