@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.container {
  margin-top: 0.5em;
  background-color: #F0F0F0;
  padding: 2em;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75em;
}