@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.container {
  background-color: #f0f0f0;
  padding: 1.25em 2em;
  margin-bottom: 1em;
}

.workspace {
  font-size: 1.35em;
  font-weight: bold;
}

.button {
  text-transform: none !important;
}

.field {
  margin: 0;
  padding: 0;
}

.creator {
  font-weight: 500;
  font-style: italic;
}

.actionButtons {
  margin-top: 1.5em;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

.workspaceLabel {
  padding-top: 0;
  padding-bottom: 1em;
  font-size: 0.9em;
  width: max-content;
  margin: auto;
  align-items: baseline;
}
