.chip {
  display: block;
  height: 1.35em;
  width: 1.35em;
  border-radius: 4px;
  margin-right: 0.75em;
}

.selected {
  background-color: #4a4a4a;
  border-radius: 6px;

  > svg {
    color: #eeeeee;
  }
}

.name {
  flex: 1;
}

.chevron {
  margin-left: 0.5em;
  color: #505050;
}

.item {
  font-size: 0.9em;
  font-weight: 400;
  padding: 0.5em 1em 0.35em;
  display: flex;
  align-items: center;
  cursor: pointer;
}
