.workspace {
  padding: .25em .5em;
  cursor: pointer;
  user-select: none;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  transition: box-shadow 90ms ease-in;
}

.workspace:hover {
  box-shadow: 0 0 0 1px #484848;
}

.workspace.selected {
  box-shadow: 0 0 0 1px #484848;
  border-color: #484848;
}

.chip {
  height: .65em;
  width: .65em;
  display: inline-block;
  border-radius: 2px;
  margin-left: 0.5em;
}
