@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.acquintances {
  h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  form {
    margin-bottom: 1rem;
  }

  > p {
    padding: 0.5rem 1rem;

    span {
      @extend .primary-button;
      float: right;
    }
  }

  > p:nth-child(2n + 1) {
    background-color: $extra-background-color;
  }

  margin-bottom: 1rem;
}

.acquintance {
  display: flex;
  justify-content: space-between;
}

.acquintanceActions {
  display: flex;
  column-gap: 0.5em;
  align-items: center;
}
