@import '../styles/defaults.scss';
@import '../styles/variables.scss';


.section {
  @extend .wrapped-center;
  padding:1rem;
  border:1px solid $main-border-color;
  background-color:$extra-background-color;
  > h1{
      margin-bottom:1rem;
  }
  > p {
      margin-bottom:1rem;
  }
  > article {  
    padding:1rem;
    h1{
        @extend .clickable;
        span {
            display: inline-block;
            width:1rem;
            text-align: center;
            font-weight: bold;
        }
    }
    > section {
      h2 {
          font-size:1rem;
          font-weight:normal;
          span {
              font-weight:bold;
          }
      }
      ul{
          margin-top:1rem;
      }
    }
    nav {
        float:right;
        a,p {
            @extend .clickable;
            display: inline-block;
            border: 1px solid $main-border-color;
            padding:0.5rem;
            margin:-0.5rem 0.25rem;
        }
        p:not(.primary),a:not(.primary){
            background-color: $button-secondary-background;
            color:$button-secondary-color;

        }
        a:last-child{
            margin-right:-0.5rem;
        }
    }
  }
  > article:nth-of-type(2n+1){
    background-color:$main-background-color;
  }
}