@import '../styles/defaults.scss';
@import '../styles/variables.scss';

.bookTitle {
  @extend .clickable;
  > span {
    display: inline-flex;
    align-items: center;
  }
}

article > header {
  display: flex;
  align-items: center;
}

.actions {
  margin-left: auto;
  display: flex;
}

.renamingForm {
  cursor: pointer;
  flex: 1 1 60%;
  display: flex;
}

button.editTitleButton {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  height: 100%;
  vertical-align: baseline;

  > svg {
    height: 0.75em;
    margin: 0;
    padding: 0;
  }
}
