@import '../styles/defaults.scss';
@import '../styles/variables.scss';

@mixin actionField {
  border: none;
  user-select: none;
  margin: 0;
  align-items: center;
  box-shadow: none;
  display: inline-flex;
  font-size: 1em;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding: calc(.5em - 1px) calc(.8em - 1px);
  position: relative;
  vertical-align: top;
  text-decoration: none;
  cursor: pointer;
}

@mixin selectField {
  appearance: none;
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: 0;
  padding-right: 2.5em;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

@mixin selectFieldContainer {
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: top;

  &:after {
    right: 1.125em;
    z-index: 4;
    border: 3px solid #000;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -0.55em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .625em;
  }
}

.select {
  @include actionField;
  @include selectField;
}

.selectContainer {
  @include selectFieldContainer;
}

.button {
  @include actionField;

  > svg {
    margin-right: 0.3em;
  }
}

a.button:not(.primary), a.icon:not(.primary) {
  color: currentColor;
}

.primary {
  background-color: #000;
  color: #fff;
}

.primary:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}

.secondary {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.secondary:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.icon {
  background: none;
  border: none;
  transition: color 1s ease, background 1s ease;

  &:hover,
  &:focus {
    background: none;
    opacity: 0.5;
  }
  &:active {
    background-color: $button-primary-background;
    color: $button-primary-color;
    transition: none;
  }

  > svg {
    margin: 0;
  }
}

.textarea {
  border: 1px solid #000;
  padding: 1rem;
}
