button.renameButton {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  height: 1em;
  vertical-align: bottom;

  > svg {
    height: 0.75em;
    margin: 0;
    padding: 0;
  }
}

