.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75em;
}

.tagName {
  input {
    width: 100%;
  }
  margin-bottom: 1em;
}

textarea {
  width: 100%;
}

fieldset {
  margin: 1em 0;
}

.create {
  background-color: #f0f0f0;
  border-bottom: 1px solid grey;
  padding: 1rem;
  margin: 1rem 0 2rem;
}
