@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.create {
  background-color: $main-background-color;
  border-bottom: 1px solid $main-border-color;
  padding: 1rem;
  margin: 1rem 0 2rem;
}

.articleTitle {
  input {
    width: 100%;
  }
}

.fieldset {
  margin: 1em 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75em;
}

.tags {
  display: flex;
  flex-wrap: wrap;

  > li {
    margin: 0 .5rem .5rem 0;
  }
}
