@import '../styles/defaults.scss';
@import '../styles/variables.scss';

.list{
  padding:1rem 1rem;
  &:nth-child(2n+1){
    background-color:$main-background-color;
  }
  
  button{
    float:right;
    margin-top:-0.5rem;
    margin-right:-0.5rem;
    @extend .primary-button
  }
}

#selected{
  border:1px solid $main-border-color;
  color:$main-background-color;
  background-color:$main-color;
  button{
    @extend .secondary-button;
  }
}
