@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.export {
  > h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  > form {
    margin-bottom: 1rem;
    select {
      display: block;
      width: 100%;
    }
  }
  > nav {
    text-align: right;
    margin-bottom: 1rem;
    float: right;
    > a {
      display: inline-block;
      @extend .primary-button;
    }
  }
}
