@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.header {
  @extend .wrapped-center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  .menuLinks {
    display: flex;
    align-items: center;

    & > li {
      margin-left: 1em;
    }
  }
}

.logo {
  font-style: italic;

  a {
    text-decoration: none;

    &:before,
    &:after {
      content: "_";
    }
  }
}

.registerAction {
  margin-right: 1.25em;
}

.logoutAction{
  margin: 0 1.25em;
}

.linkIcon {
  margin: 0 .2em;
  vertical-align: middle;
}
