@import '../styles/defaults.scss';
@import '../styles/variables.scss';

.box {
    padding:1rem;
    border:1px solid $main-border-color;
    background-color:$extra-background-color;
    form {
        input{
            padding: .5em 1em;
            display: block;
            width: 100%;
            border-top:1px solid $main-border-color;
            border-left:1px solid $main-border-color;
            border-right:1px solid $main-border-color;
        }
        input[type=submit]{
            background-color:$main-color;
            color:$main-background-color;
            border-bottom:1px solid $main-border-color;
            margin-top:1rem;
        }
        h1{
            font-size: 100%;
            margin-bottom:1rem;
            text-align: center
        }
        p{
            margin-bottom:1rem;
            text-align: right;
            a {
                font-weight: normal;
                color:#007eff;
            }
        }
}

.humanNumCreateAccountBtn {
    &::before {
        content: "";
        width: 1.25em;
        display: block;
        background-size: contain;
        background-image: url('/human-num-logo.svg');
        background-position: left center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0.25em;
        top: 0;
        bottom: 0;
    }

    color: white;
    background-color: #f7931e;
    font-weight: 200;
    font-size: 0.8em;
    padding: 0.25em;
    padding-left: 2em;
    padding-right: 1em;
    position: relative;
}

.disclaimer {
    padding: 1rem;
    border: 1px solid $main-border-color;
    background-color: $extra-background-color;
    margin-bottom: 1rem;
    p {
        text-align: center;
        a {
            font-weight: normal;
            color:#007eff;
        }
    }
}
