@import '../styles/defaults.scss';
@import '../styles/variables.scss';

.box {
    padding:1rem;
    border:1px solid $main-border-color;
    background-color: $extra-background-color;

    h1 {
        margin-bottom: 1rem;
    }
}

%humanNumBtn {
    &::before {
        content: "";
        width: 1.25em;
        display: block;
        background-size: contain;
        background-image: url('/human-num-logo.svg');
        background-position: left center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0.25em;
        top: 0;
        bottom: 0;
    }

    display: block;
    color: white;
    font-weight: 200;
    font-size: 0.8em;
    padding: 0.25em 1em 0.25em 2em;
    position: relative;
    margin-bottom: 0.25em;
}

.humanNumCreateAccountBtn {
    @extend %humanNumBtn;
    background-color: #f7931e;
}

.humanNumConnectBtn {
    @extend %humanNumBtn;
    background-color: #c00;
}

.disclaimer {
    padding: 1rem;
    border: 1px solid $main-border-color;
    background-color: $extra-background-color;
    margin-bottom: 1rem;
    p {
        text-align: center;
        a {
            font-weight: normal;
            color:#007eff;
        }
    }
}
