@import '../styles/defaults.scss';
@import '../styles/variables.scss';

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  @extend .clickable;
}

.modal {
  position: fixed;
  top: 5%;
  left: 50%;
  z-index: 101;
  transform: translateX(-50%);
  padding: 1rem;
  width: 90%;
  max-width: 750px;
  max-height: 90%;
  overflow: auto;
  background-color: $main-background-color;
}
