@import '../styles/defaults.scss';
@import '../styles/variables.scss';

.background {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:100;
  margin:0;
  background-color:rgba(0,0,0,0.7);
  @extend .clickable;
}
.modal{
  position:fixed;
  top:50%;
  left:50%;
  z-index: 101;
  transform:translate(-50%,-50%);
  padding:1rem;
  max-width:90%;
  max-height: 90%;
  overflow: auto;
  background-color:$main-background-color;
}