@import '../styles/defaults.scss';
@import '../styles/variables.scss';

.button {
  float: right;
  @extend .primary-button;
  margin-top: -0.5rem;
  margin-right: -0.5rem;
}

.resetFloat {
  clear: both;
  padding: 0.5rem;
  &:nth-child(2n + 1) {
    background-color: $alternate-row-color;
  }
}
