@import '../styles/defaults.scss';
@import '../styles/variables.scss';

.article{
  @extend .wrapped-center;
  background-color:$extra-background-color;
  height:100%;
  textarea{
    padding:1rem;
    width:100%;
  }
  > div {
    padding:1rem;
  }
  > pre{
    margin-top:0;
    padding:1rem;
    width:100%;
    white-space: pre-wrap; 
  }
}

.container{
  position: relative;
  height:100%;
}

.slider{
  position:fixed;
  z-index: 10;
  top:0;
  bottom:0;
  width:400px;
  overflow-x: visible;
  > nav{
    @extend .clickable;
    position:absolute;
    top:0;
    padding:0.75rem 1rem;
    transition:background-color 0.5s ease;
  }
  .close{
    background-color:$main-background-color;
  }

  > div{
    overflow-y:auto;
    height:100%;
    > header{
      > h1{
        font-size:1.5rem;
        padding:0.5rem 1rem 0 1rem;
      }
      > h2{
        font-size: 1.2rem;
        padding:0 1rem 0.5rem 1rem;
        font-weight:normal
      }
    }
    > section{
      margin-top:1rem;
      > h1{
        font-size:1.2rem;
        @extend .clickable;
        border-top:1px solid $main-border-color;
        border-bottom:1px solid $main-border-color;
        padding:0.5rem 1rem;
        background-color:$main-background-color;
      }
      > h1.closed{
        background-color:$main-color;
        color:$main-background-color;
      }
      > p{
        padding:0.5rem 1rem 0 1rem;
      }
      > ul { 
        > li{
          padding:0.5rem 1rem 0 1rem;
        }
        > p {
          padding:0.5rem 1rem;
        }
      }
        
      form.liveVersion{
        background-color:$main-background-color;
        input{
          display:box;
          width:100%;
          padding:0.5rem 1rem;
        }
        > button{
          border:none;
          border-bottom: 1px solid $main-border-color;
          width:50%;
        }
        > button.secondary{
          @extend .secondary-button;
        }
        > button.primary{
          @extend .primary-button;
        }
        > button:first-of-type{
          border-right:1px solid $main-border-color;
        }
      }
    }
  }
}

.sliderleft{
  @extend .slider;
  transition:left 0.5s ease, background 0.5s ease, border 0.5s ease;
  border-right:1px solid $main-border-color;
  > nav{
    text-align: right;
  }
}
.sliderright{
  @extend .slider;
  transition:right 0.5s ease, background 0.5s ease, border 0.5s ease;
  border-left:1px solid $main-border-color;
  > nav{
    text-align: left;
  }
  > div{
    text-align: right;
  }
}

.right{
  @extend .sliderleft;
  right:0;
}



.expandleft{
  @extend .sliderleft;
  left:0;
  background-color:rgba(255,255,255,1);
  > nav{
    color:$main-color;
    right:0;
    transition:right 0.5s ease;
  }
}

.retractleft{
  @extend .sliderleft;
  left:-400px;
  background-color:rgba(255,255,255,0);
  border-right:0px solid $main-border-color;
  > nav{
    right:-80px;
    transition:left 0.5s ease;
  }  
  .open{
    color:grey;
    background-color:rgba(0,0,0,0);
  }
}



.expandRight{
  @extend .sliderright;
  right:0;
  background-color:rgba(255,255,255,1);
  > nav{
    color:$main-color;
    left:0;
    transition:right 0.5s ease;
  }
}

.retractRight{
  @extend .sliderright;
  right:-400px;
  background-color:rgba(255,255,255,0);
  border-right:0px solid $main-border-color;
  > nav{
    left:-130px;
    transition:left 0.5s ease;
  }  
  .open{
    color:grey;
    background-color:rgba(0,0,0,0);
  }
}