@use "../../../styles/defaults" as *;
@use "../../../styles/variables" as *;

@mixin border-top {
  border-top: 1px solid $main-border-color;
}

.header {
  background-color: $main-color;
  color: $main-background-color;

  @media print {
    & {
      display: none;
    }
  }

  .container {
    @extend .wrapped-center;
    padding: 0.75rem;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }

  &.isModal {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9999;
  }

  a:not(.logo),
  button,
  span.link {
    background-color: $main-color;
    border: none;
    color: currentColor;
    font-size: 1em;
    text-decoration: none;

    &.link {
      cursor: default;
    }

    &:not(span.link):hover,
    &:not(span.link):focus {
      background-color: $alternate-row-color;
      color: $main-color;
      text-decoration: underline;
    }

    &[aria-pressed="true"],
    &[aria-current="page"] {
      text-decoration: underline;
    }
  }
}

.logo {
  align-self: flex-end;
  padding: 0.5em;

  img {
    max-height: 1.64rem;
  }
}

.isDesktop {
  .hiddenIfDesktop {
    display: none;
  }
}

.mainMenuList {
  display: flex;
  flex-direction: column;

  &.isMobile {
    @extend .list;

    margin-inline: 2rem;
    margin-block: 2rem;
  }

  .isDesktop & {
    flex-direction: row;

    a,
    button,
    span.link {
      border: none;
    }
  }

  .topNav a[aria-current="page"] {
    background-color: white;
    color: black;
    font-weight: normal;
  }
}

.hasDropdown {
  position: relative;

  &:is(button) {
    white-space: nowrap;
  }

  &:after {
    content: "▸" / "";
    display: inline-block;
    margin-left: 0.5em;
    width: 1ch;
    transform: transform 0.2s;
  }

  &[aria-expanded="true"]:after {
    transform: rotate(90deg);
  }
}

.userNavigationMenu .hasDropdown:after {
  position: absolute;
  right: 1em;
}

.mainMenu {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.secondaryMenu {
  &.isMobile {
    &:has(~ .mobileSubmenu:not(:empty)) {
      display: none;
    }
  }
}

.skiplinks {
  @extend .header;

  background-color: $main-color;
  display: flex;
  gap: 1em;
  padding: 1em;
  position: absolute;
  width: 100%;
  z-index: -1;

  &:focus-within {
    z-index: 1000;
  }

  @media screen and (min-width: $screen-breakpoint) {
    & {
      display: none;
    }
  }

  .menuLinks {
    display: none;
    margin: 0;

    @media screen and (min-width: $screen-breakpoint) {
      & {
        align-items: center;
        display: flex;
        gap: 1em;
      }
    }
  }
}

/*
 * 2. Utilisateur·ice
 */
.userMenu {
  @media screen and (min-width: $screen-breakpoint) {
  }
}

.toggleMenuButton {
  padding: 1em;
}

.workspacesMenu {
  @media screen and (max-width: $screen-breakpoint) {
    margin-block-start: 4em;
  }
}

/**
 * nav > ul > li > a|button
 */
.list {
  display: flex;
  flex-direction: column;

  a,
  button,
  span.link {
    border-bottom: 1px solid $main-border-color;

    display: block;
    padding: 0.9em; /* .9em max otherwise navbar height is not even with buttons padding */
    width: 100%;
    text-align: left;
  }
}

.listInline {
  @extend .list;

  flex-direction: row;

  a,
  button,
  span.link {
    border: none;
  }
}

.toggleMenuList {
  .isDesktop & {
    border: 1px solid $main-border-color;
    position: absolute;
    z-index: 1000;
  }

  @media screen and (min-width: $screen-breakpoint) {
  }

  &.withIcons {
    button,
    a,
    span.link {
      padding-inline-start: 2.5em;
    }
  }
}

.logo {
  a {
    text-decoration: none;

    img {
      height: 1em;
      vertical-align: middle;
    }
  }
}

.chip {
  display: inline-block;
  height: 0.9em;
  width: 0.9em;
  border-radius: 4px;
  margin-right: 0.5em;
}

.logoAsImg {
  background-color: $main-color;
  height: 1em;
  padding: 0.5em;
  box-sizing: content-box;
}

.consentLabel {
  cursor: pointer;
  font-size: 0.8em;
  vertical-align: middle;
}
