.container {
  display: grid;
  align-items: center;
  justify-items: center;
}

.icon {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-right: 1rem;
}

.username {
  grid-row: 1;
  grid-column: 2;
  font-weight: 600;
  font-size: 1.1em;
}

.workspaceLabel {
  grid-column: 2;
  grid-row: 2;
}
