@use '../../../styles/defaults' as *;
@use '../../../styles/variables' as *;
@use '../../molecules/FormActions.module';

.export {
  > h1 {
    margin-bottom: 1rem;
  }
}

.bibliographyPreview {
  background-color: $main-background-color;
  margin-bottom: 1em;
  min-height: 5em;
  padding: 1em;

  [role='doc-bibliography'] {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}
