@use '../../../styles/defaults' as *;
@use '../../../styles/variables' as *;

.corpus {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
  position: relative;

  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .heading {
    flex: 250px 1;
    display: inline-flex;
    align-items: center;
    text-wrap: balance;
  }

  .title {
    margin-right: 0.75rem;
  }

  .badge {
    font-size: 0.8rem;
  }

  .actionButtons {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: flex-start;
  }

  .details {
    font-size: 0.875em;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .metadata {
    color: $main-lighter-color;
  }
}

.primaryAction {
  background-color: $main-color;
  color: $main-background-color;
}
