@use '../../../styles/defaults' as *;
@use '../../../styles/variables' as *;

/*
.container {
  margin-bottom: 1em;
}

.header {
  display: flex;
  background-color: #f0f0f0;
  padding: 0.75em 1.5em;
  align-items: center;
}

.heading {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  display: inline-flex;
  align-items: center;
}

.icon {
  display: flex;
}

.by {
  padding-right: 0.35em;
}

.creator {
  font-style: italic;
}

.metadata {
  padding-left: 0.5rem;
  font-size: 0.9em;
  padding-bottom: 0.5em;
}

.updatedAt {
  opacity: 0.5;
  margin-left: 0.65em;
}

.detail {
  background-color: #f9f8f8;
  padding: 1.5em 2.75em 2.75em;
  p {
    padding-bottom: 1em;
  }
}

.partsTitle {
  font-size: 0.95em;
}

.message {
  margin-top: 0.75rem;
}


*/

.dropdownMenu {
  position: relative;

  .menu {
    position: absolute;
    background-color: white;
    //padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    z-index: 9999;
    border: 1px solid $main-color;
    right: 0;
    margin-top: 0.15rem;
    > ul {
      flex-wrap: nowrap;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      text-align: start;

      > li {
        cursor: pointer;
        padding: 0.75rem 2.5rem 0.75rem 0.5rem;
      }

      > li:hover {
        background-color: $hover-background;
      }
    }
  }
}

.corpus {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
  position: relative;

  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .title {
    flex: 250px 1;
    display: inline-flex;
    align-items: center;
    text-wrap: balance;
  }

  .actionButtons {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: flex-start;
  }

  .details {
    font-size: 0.875em;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .metadata {
    color: $main-lighter-color;
  }
}
