@use '../../../styles/defaults' as *;
@use '../../../styles/variables' as *;

.createTagButton {
  cursor: pointer;
  user-select: none;
  border: 1px solid #868e96;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  padding: 0.25em 1.25em;
  line-height: inherit;
  color: $main-lighter-color;
  min-height: 2.5em;
}

.filterByTags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  > li {
    display: flex;
  }
}
