@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.container {
  margin-bottom: 1em;
}

.header {
  display: flex;
  background-color: #f0f0f0;
  padding: 0.75em 1.5em;
  align-items: center;
}

.heading {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  font-size: 1.15em;
  display: inline-flex;
  align-items: center;
  padding-bottom: 0.25em;
  padding-top: 0.5em;
}

.icon {
  display: flex;
}

.by {
  padding-right: 0.35em;
}

.creator {
  font-style: italic;
}

.metadata {
  padding-left: 0.5rem;
  font-size: 0.9em;
  padding-bottom: 0.5em;
}

.updatedAt {
  opacity: 0.5;
  margin-left: 0.65em;
}

.detail {
  background-color: #f9f8f8;
  padding: 1.5em 2.75em 2.75em;
  box-shadow: inset 0 11px 8px -10px #ccc;
  p {
    padding-bottom: 1em;
  }
}

.partsTitle {
  font-size: 0.95em;
}

.message {
  margin-top: 0.75rem;
}
