@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.error {
  background-color: red;
  padding: 0.5rem;
  color: $main-background-color;
  text-align: center;
  margin-top: 0;
}

.toggle {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  font-size: 1.125rem;
  cursor: pointer;

  > label {
    cursor: pointer;
    font-weight: 500;
    user-select: none;
  }
}
