@use '../../../../styles/defaults' as *;
@use '../../../../styles/variables' as *;

.editor {
  @extend .wrapped-center;
  background-color: $extra-background-color;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);

  > pre,
  > div > pre {
    margin-top: 0;
    padding: 1rem;
    width: 100%;
    white-space: pre-wrap;
    flex: 1 1 50%;
  }
}