.stats {
  display: flex;
  justify-content: center;
  color: #4a4a4a;
  font-size: 0.85rem;
  background-color: #f9f9f9;
  padding: 0.5rem;
  border: 1px solid #d8d8d8;
  gap: 0.35rem;
  flex-wrap: wrap;
}

.stats > li {
  text-wrap: nowrap;
}

.stats > li:not(:last-child)::after {
  content: ',' / '';
  margin: 0;
}
