@use '../../../styles/defaults' as *;
@use '../../../styles/variables' as *;

.searchField {
  input {
    width: 100%;
  }

  padding: 0.5rem 0;
}

.articles {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $extra-background-color;
  padding: 0.5rem 0.75rem;

  &:nth-child(2n + 1) {
    background-color: $main-background-color;
  }
}
