@use '../../../styles/defaults' as *;
@use '../../../styles/variables' as *;
@use '../../molecules/FormActions.module';

.primaryAction {
  margin-left: 0.75rem;
}

.article {
  display: flex;
  flex-direction: column;

  column-gap: 2.5rem;
  row-gap: 0.75rem;

  padding: 1rem;
  position: relative;

  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .title {
    flex: 250px 1;
    display: inline-flex;
    align-items: center;
    text-wrap: balance;
  }

  .actionButtons {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: flex-start;
  }

  .details {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
  }

  .metadata {
    padding-top: 0.45rem;
    color: $main-lighter-color;
  }

  .tags {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
  }

  .corpuses {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;

    > div {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    > div:not(:last-child)::after {
      content: '—';
      display: block;
    }
  }

  .tag {
    border: 1px solid $main-color;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.25rem 0.5rem;
  }

  .tagChip {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100% 100%;
  }
}

.sendText,
.sendIcon {
  vertical-align: middle;
}

.sendIcon {
  height: 1em;
  width: 1em;
}

.icon {
  display: flex;
}

.momentsAgo {
  opacity: 0.5;
  margin-left: 0.5em;
}

.note {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.note.important {
  border-color: $warn-color;
  color: $warn-color;
  font-weight: 500;
}

.note.important:before {
  display: inline-flex;
  content: '⚠️';
  font-size: 1.25rem;
}
