.alert {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: 1px solid;
  font-size: 0.9em;

  > svg {
    flex: 0 0 1.5rem;
  }
}

/**
 * Good contrasts between background and foreground can be found
 * at https://app.contrast-finder.org/
 */

.fullscreen {
  justify-content: center;

  &.warning {
    font-weight: bold;
  }

  a:after {
    display: none;
  }
}

.warning {
  background-color: hsl(40 96% 95%);
  border-color: hsl(40 96% 90%);
  color: hsl(40 96% 20%);
}

.info {
  background-color: hsl(215.29deg 100% 95%);
  border-color: hsl(215.29deg 100% 90%);
  color: hsl(215.29deg 100% 20%);
}

.success {
  background-color: hsl(100 77% 95%);
  border-color: hsl(100 77% 90%);
  color: hsl(100 77% 20%);
}

.error {
  background-color: hsl(359 100% 95%);
  border-color: hsl(359 100% 90%);
  color: hsl(359deg 100% 20%);
}
