@use "../../styles/variables" as *;

.element {
  cursor: pointer;

  &.elementActive {
    outline: 2px solid $main-color-links;
    outline-offset: 0.2em;
  }

  &.elementDisabled {
    color: $muted-color;
  }

  .label {
    color: $muted-color;
  }

  .state {
    --border-width: 2px;
    --padding: calc(var(--border-width) * 1.4);
    --button-size: 0.8em;

    color: $muted-color;
    display: flex;
    gap: 0.3em;
    user-select: none;

    .stateContainer {
      background-color: transparent;
      border: var(--border-width) solid currentColor;
      border-radius: 50rem;
      display: inline-block;
      height: calc(
        var(--button-size) + (var(--padding) * 2) + (var(--border-width) * 2)
      );
      padding: 0 var(--padding);
      position: relative;
      width: calc(
        (var(--button-size) * 1.9) + (var(--padding) * 2) +
          (var(--border-width) * 2)
      );
    }

    .position {
      background-color: $extra-background-color;
      border: var(--border-width) solid $muted-color;
      display: inline-block;
      border-radius: 50%;
      height: var(--button-size);
      position: relative;
      width: var(--button-size);
    }
  }
}

.input {
  position: absolute;
  left: -9999em;

  &:checked ~ .state {
    .stateContainer {
      background-color: $muted-color;
    }

    .position {
      border-color: $extra-background-color;
      left: calc(var(--button-size) * 0.9);
    }
  }

  &:checked:not([disabled]) ~ .state {
    .label {
      color: $main-color;
    }

    .stateContainer {
      border-color: $main-color;
      background-color: $main-color;
    }

    .position {
      border-color: $extra-background-color;
    }
  }
}
