@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid $main-border-color;
  cursor: pointer;
}

.container:hover {
  border: 1px solid $main-color;
}

.columns {
  display: flex;
}

.date {
  display: flex;
  margin-top: 0.9rem;
  padding-right: 1rem;
  min-width: 100px;
  justify-content: flex-end;
  font-size: 0.9rem;
  margin-right: 0.25rem;
}

.info {
  padding: 0.35rem 0.75rem 1rem 1.25rem;
  flex: 1;
}

.selected {
  border: 1px solid $main-color;
}

.title {
  font-size: 0.9rem;
  font-weight: 600;
  position: relative;
  margin-top: 0.5rem;
  padding-bottom: 0.25rem;
}

.separator {
  position: relative;
  background-color: $info-color;
  border-left: 3px solid $info-color;

  &.short {
    margin-top: 0.95rem;
  }
}

.indicator {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(-0.75rem - 1.5px);
  top: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
  border: 3px solid $info-color;
  border-radius: 50%;
  background-color: #fff;
}

.automated {
  background-color: $info-color;
  color: #fff;
}

.workingCopy {
  transform: rotate(45deg);
  border-radius: 0;
  height: 1rem;
  width: 1rem;
  left: calc(-0.5rem - 1.5px);
  background-color: $info-color;
  top: 0.9rem;
  margin-top: -0.95rem;
}

.description {
  font-weight: 300;
  font-size: 0.9rem;
  padding-left: 0.15rem;
}

.attributes {
  margin-top: 0.35rem;
  font-size: 0.9rem;
  color: $main-lighter-color;
}

.attribute {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
