@use '../styles/variables' as *;
@use '../styles/defaults' as *;

.grid {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'header'
    'main'
    '....';

  @media screen and (min-width: $tablet-breakpoint) {
    grid-template-columns: 100%;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      'header'
      'main'
      '....';
  }

  @media screen and (min-width: $screen-breakpoint) {
    grid-template-columns: 1fr $screen-width 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      'header header header '
      '...... main .....'
      '.... ..... ......';
  }

  @media screen and (min-width: $large-screen-breakpoint) {
    grid-template-columns: 1fr $screen-width 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      'header header header '
      '...... main .....'
      '.... ..... ......';
  }
}

.header {
  grid-area: header;
  background-color: $main-color;
  color: $main-background-color;
  a {
    color: $main-background-color;
  }
}

.main {
  grid-area: main;
  padding-top: 1rem;
}
