.container {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.content:not(:last-child) {
  margin-bottom: 1rem;
}

.title {
  display: flex;
  gap: 0.5rem;
}

.field {
  width: 100%;
}
