@use '../styles/defaults' as *;
@use '../styles/variables' as *;

.section {
  @extend .wrapped-center;
  padding: 1rem;
  border: 1px solid $main-border-color;
  background-color: $extra-background-color;

  > h1 {
    margin-bottom: 1rem;
  }

  > p {
    margin-bottom: 1rem;
  }

  > article:nth-of-type(2n + 1) {
    background-color: $alternate-row-color;
  }
}

.searchField {
  input {
    width: 100%;
  }

  padding: 0.5rem 0;
}

.workspacesList {
  margin-top: 1em;
}