// Toggle Darkmode
// $main-background-color: #202020;
// $main-color: #f0f0f0;
// $main-color-links: #ffffff;
$extra-background-color:#ffffff;
$main-background-color: #f0f0f0;
$main-color: #202020;
$main-color-links: #000000;

$main-border-color:#c0c0c0;



$phone-width:100%;

$tablet-breakpoint:1080px;
$tablet-width:calc(1080px - 2rem);

$screen-breakpoint:1400px;
$screen-width:1080px;

$large-screen-breakpoint:2160px;
$large-screen-width:1500px;