# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/

.npm
.eslintcache

# Mac files
.DS_Store

/build/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
