[Unit]
Description=Docker Compose Stylo
Requires=docker.service
After=docker.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
WorkingDirectory=/home/stylo/stylo
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
Restart=on-failure
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
