@use '../../../styles/defaults' as *;
@use '../../../styles/variables' as *;

.searchField {
  input {
    width: 100%;
  }
  padding: 0.5rem 0;
}

.resultFoundCount {
  font-size: 0.9rem;
  display: flex;
  padding: 0 0.5rem 1rem 0;
  justify-content: flex-end;
}

.list {
  padding-top: 1rem;

  article:nth-of-type(2n + 1) {
    background-color: $alternate-row-color;
  }
}

.showAll {
  display: flex;
  margin: 1em auto;
}

.more {
  font-size: 0.9rem;
  display: flex;
  padding-bottom: 1rem;
  justify-content: center;
}
