@import '../../styles/defaults.scss';
@import '../../styles/variables.scss';

#section {
    > h1 {
      font-size:1.2rem;
      @extend .clickable;
      border-top:1px solid $main-border-color;
      border-bottom:1px solid $main-border-color;
      padding:0.5rem 1rem;
      background-color:$main-background-color;
    }

    .closed{
      background-color:$main-color;
      color:$main-background-color;
    }
}
