.navbarItem {
  display: flex;
  align-items: center;
  padding: 0.5em 0.75em 0.5em 0.5em;
  column-gap: 0.5em;
  text-decoration: none;
  color: #202020
}

.navbarItem:hover {
  font-weight: bolder;
  cursor: pointer;
  text-decoration: underline;
}

.expandColapseAction {
  border-top: 1px solid #d9d9d9;
  padding-top: 0.5em;
}

.navbarColapseItem {
  color: #979797
}

.navbarExpandItem {
  color: #979797
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: 0.9em;
}

.navbarItemExpanded {
  background-color: #202020;
  color: white;
  font-weight: bolder;
  position: relative;
}

.menu {
  width: 350px;
  padding: 0.5em 0 0;
  box-shadow: -4px 0px 7px 0px #b2b2b2;
  background-color: white;
  min-height: calc(100vh - 50px);
}
