@import '../../styles/defaults.scss';
@import '../../styles/variables.scss';

#section {
  > ul {
    > li {
      padding: 0.5rem 1rem 0.5rem 1rem;
      > a:first-child {
        display: block;
      }
    }
    > li:nth-child(2n) {
      background-color: $main-background-color;
    }
    > li.selected {
      background-color: $selected-background;
    }
    > li.compareTo {
      background-color: $beware-background;
    }
    > p {
      padding: 0.5rem 1rem;
    }
  }

  > h1 {
    font-size: 1.2rem;
    @extend .clickable;
    border-top: 1px solid $main-border-color;
    border-bottom: 1px solid $main-border-color;
    padding: 0.5rem 1rem;
    background-color: $main-background-color;

    display: flex;
    align-items: center;
  }
}

.actions {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  justify-content: flex-end;
  font-size: 0.9em;

  > li:not(:last-child) {
    margin-right: 0.5em;
  }
}

.saveForm {
  text-align: right;
  margin: 1rem 0;
  border-left: 5px solid #202020;
  padding: 0.5rem 0 0.25rem 0.5rem;
}

.saveVersionInput {
  width: 100%;
  padding-bottom: 0.5rem;

  input {
    width: 100%;
  }
}
