@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.article {
  @extend .wrapped-center;
  background-color: $extra-background-color;
  height: 100%;
}

.mainEditor {

}

.diffPanel {

}

.error {
  background-color: $extra-background-color;
  margin: 5em auto;
  padding: 10em 2em;
  width: 50%;
  color: $error-color;
}

.container {
  position: relative;
  height: 100%;
}
