@import '../../styles/defaults.scss';
@import '../../styles/variables.scss';

.article {
  @extend .wrapped-center;
  background-color: $extra-background-color;
  height: 100%;
  display: flex;

  textarea {
    width: 100%;
  }

  > div {
    flex: 1 1 50%;
  }

  > pre,
  > div > pre {
    margin-top: 0;
    padding: 1rem;
    width: 100%;
    white-space: pre-wrap;
    flex: 1 1 50%;
  }
}

:global {
  .react-codemirror2 {
    .CodeMirror {
      height: auto;
      font-family: 'BellweatherSans-shownbsp', monospace;
    }

    .CodeMirror-cursors {
      font-family: monospace;
    }

    .CodeMirror-scroll {
      min-height: 600px;
    }

    .CodeMirror-lines {
      padding: 0;
    }

    .CodeMirror-line {
      margin-left: 1em;
    }

    .CodeMirror-linenumber {
      font-size: .8em;
    }
  }

  .remote-caret {
    position: absolute;
    border-left: black;
    border-left-style: solid;
    border-left-width: 2px;
    height: 1em;
  }
  .remote-caret > div {
    position: relative;
    top: -1.05em;
    font-size: 13px;
    background-color: rgb(250, 129, 0);
    font-family: serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    user-select: none;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    z-index: 3;
  }
}

.onlineWritersContainer {
  @extend .wrapped-center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  > ul {
    display: inline-flex;
    margin-left: .5rem;

    li:not(:last-child)::after {
      content: ", ";
      margin-right: .5rem;
    }
  }
}

.editorReadonly {
  border: 4px #ccc solid;
}

.editorWriteable {
  border: 4px black solid;
}

.error {
  background-color: $extra-background-color;
  margin: 5em auto;
  padding: 10em 2em;
  width: 50%;
  color: $error-color;
}

.container {
  position: relative;
  height: 100%;
}
