@import '../../node_modules/codemirror/lib/codemirror.css';
@import '../../node_modules/codemirror/theme/material.css';
@import './modal.scss';
@import './yaml.scss';

*{
    box-sizing: border-box;
}

a{
  text-decoration: none;
}
html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
  background: #f8f8f8;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  position:relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  min-height: 100vh;
}

#app > header, .gridCenter > header {
    padding:0.5rem 1rem;
    background-color: green;
    color:white;
    display:flex;
    align-items: center;
    .wrapper {
        flex:1 1 auto;
    }
    h1 {
        margin:0;
        flex:0 0 auto;
    }
    nav {
        flex: 0 0 auto;
        a {
            color:white;
            margin-left: 1rem;
        }
    }
}

.gridCenter{
  height: 100vh;
  display:grid;
  grid-template-columns:1fr auto 1fr;
  grid-template-rows:auto 1fr auto 1fr;
  grid-template-areas:
  "header header header"
  ".. .. .."
  ".. center .."
  ".. .. ..";
  header{
      grid-area:header;
  }
  .gridCentered{
      background-color: white;
      grid-area:center;
      box-shadow: 0 0 50px #c0c0c0;
      padding:1em;
      input{
        padding:0.5em 1em;
        display:block;
        width:100%;
      }
      input[type=submit]{
        background-color: green;
        color:white;
        cursor:pointer;
      }
      p.note{
        text-align:right;
        margin:0.5em 0 0 0;
      }
  }

}

.button {
  background-color: #fff;
  color: grey;
  border: 1px solid grey;
  padding:0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  display: inline-block;
  margin:0 0.25em;
}
.primaryButton {
    background-color: green;
    color:white;
    border:1px solid green;
}
.disabledButton {
    background-color: #c0c0c0;
    color:#909090;
    border:1px solid #c0c0c0;
    font-size: 1em;
    cursor:not-allowed;
}
.alertButton {
    background-color: red;
    color:white;
    border:1px solid red;
}

.editButton {
  background-color: white;
  color:grey;
  border:1px solid grey;
}

.deleteButton {
  background-color: white;
  color:grey;
  border:1px solid grey;
}

.duplicateButton {
  background-color: white;
  color:grey;
  border:1px solid grey;
}

.seeButton {
  background-color: white;
  color:grey;
  border:1px solid grey;
}

.forkButton {
  background-color: white;
  color:grey;
  border:1px solid grey;
}

ul.unstyled{
  margin:0;
  padding:0.5em;
  clear:both;
  nav {
    float:right;
  }
  p,input {
    margin:0;
    padding:0.5em 1em;
    border:1px solid white;
    font-size: 1em;
    cursor:pointer;
    display:inline-block;
    }
  p.articleTitle {
    display:inline-block;
    i {
      margin-right: 1em;
    }
  }
  li {
    clear:both;
    list-style: none;
    margin-left: 1em;
    border-left:1px solid #c0c0c0;
  }
  li:before{
    content:"---";
    display:inline-block;
    margin-right: 0.5em;
    color:#c0c0c0;
  }
}
ul.unstyled:nth-child(2n){
  background-color:#f8f8f8;
}


div#app {
  header {
    margin-bottom: 20px;
    img{
      width: 100%;
      padding-bottom: 20px;
    }
  }
  main#mainView {
    user-select: none;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    background-color: white;
    padding: 1em;
    section {
      h1 {
        font-size: 2em;
        margin:0 0 1em 0;
      }
    }
  }
  main#WriteWrapper{
      user-select: none;
      margin: 0 auto;
      width: 100%;
      max-width: 1450px;
    position:relative;
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    #title{
        flex:100% 0 0;
        margin:0;
        padding:0.5rem 1rem;
        display:none;
    }
    #writeComponent{
      flex:275px 0 1;
      margin-right: 1rem;
      #timeline, #sommaire, #biblio, #stat {
        background-color: white;
        display:block;
        padding:0;
        margin-bottom: 1rem;
          h1.title{
            margin:0;
            cursor:pointer;
            padding:0.5rem 1rem;
            border:1px solid #c0c0c0;
          }
          h1.title.closed{
              background-color: #303030;
              color:white;
          }
          section{
              max-height: 25vh;
              overflow-y: auto;
          }
      }
      #stat{
          p {
              text-align: right;
              padding:0.5rem 1rem;
              margin:0;
              border-left: 1px solid #c0c0c0;
              border-right: 1px solid #c0c0c0;
              border-bottom: 1px solid #c0c0c0;
          }
      }
        #biblio{
            button{
                padding:0.5rem 1rem;
                border:none;
                border-left: 1px solid green;
                border-right: 1px solid green;
                border-bottom: 1px solid #c0c0c0;
                background-color: green;
                display:block;
                width:100%;
                color:white;
                cursor: pointer;
            }
            button::-moz-focus-inner{
                border:0;
                padding:0;
            }
            p{
                width: 100%;
                font-size: 1rem;
                font-weight: 400;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin:0;
                padding:0.5rem 1rem;
                cursor:pointer;
                border-left: 1px solid #c0c0c0;
                border-right: 1px solid #c0c0c0;
                border-bottom: 1px solid #c0c0c0;
            }
        }
      #sommaire {
            h1.title{
                border-left: 0px solid #c0c0c0;
                border-right: 0px solid #c0c0c0;
                border-bottom: 1px solid #c0c0c0;
            }
          border-left: 1px solid #c0c0c0;
          border-right: 1px solid #c0c0c0;
          border-bottom: 1px solid #c0c0c0;
          padding-bottom: 0.25rem;
          pre,h1:not(.title),h2,h3,h4,h5,h6 {
              width: 250px;
              font-size: 1rem;
              font-weight: 400;
              font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin:0;
              padding:0.15rem 1rem;
              cursor:pointer;
          }
          pre,h2,h3,h4,h5,h6{
          }
          h1:not(.title){
              border-top: 1px solid #c0c0c0;
              counter-increment: h1;
              counter-reset: h2;
              padding-top:0.5rem;
              margin-top:0.5rem;
          }
          h1:not(.title):nth-child(1){
              margin-top:0;
              border-top:none;
          }
          h1:not(.title):before{
              content: counter(h1, decimal) ".";
          }
          h2{
              counter-increment: h2;
          }
          h2:before{
              content:  counter(h1, decimal) "." counter(h2, upper-latin) ;
          }
          h3{
              counter-increment: h3;
          }
          h3:before{
              content: counter(h1, decimal) "." counter(h2, upper-latin) "." counter(h3, upper-roman) ;
          }
          h4{
              counter-increment: h4;
          }
          h4:before{
              content: counter(h1, decimal) "." counter(h2, upper-latin) "." counter(h3, upper-roman) "." counter(h4, lower-latin) ;
          }
          h5{
              counter-increment: h5;
          }
          h5:before{
              content: counter(h1, decimal) "." counter(h2, upper-latin) "." counter(h3, upper-roman) "." counter(h4, lower-latin) "." counter(h5, lower-roman) ;
          }
          h6{
              counter-increment: h6;
          }
          h6:before{
              content: counter(h1, decimal) "." counter(h2, upper-latin) "." counter(h3, upper-roman) "." counter(h4, lower-latin) "." counter(h5, lower-roman) "." counter(h6, lower-greek);
          }
          pre{
              counter-increment: pre;
          }
          pre:before{
              content: counter(h1, decimal) "." counter(h2, upper-latin) "." counter(h3, upper-roman) "." counter(h4, lower-latin) "." counter(h5, lower-roman) "." counter(h6, lower-greek) " " counter(pre, disc);
          }

      }

      #timeline{
        display:inline-block;
        //width:100px;
        a, #showed {
          display:block;
          border-right:1px solid #c0c0c0;
          border-left: 1px solid #c0c0c0;
          border-bottom: 1px solid #c0c0c0;
          padding:0.5rem 1rem;
          color:black;
        }
        #showed {
            background-color: green;
            color:white;
            ul {
                padding:0;
                margin:0;
                list-style: none;
                li {
                    margin-top:0.5rem;
                    margin-right: 0.5rem;
                    display:inline-block;
                    cursor:pointer;
                    padding:0.5rem 0.5rem;
                    border:1px solid white;
                }
            }
        }
        a.active{
            background-color: green;
            color:white;
        }
      }
    }
    #input{
      flex:800px 1 1;
      background-color: white;
    }
  }
}



textarea{
  user-select: contain;
  vertical-align: top;
  width:100%;
  min-height:30em;
}

.react-codemirror2{
  border:1px solid #c0c0c0;
  .CodeMirror{
      height:auto;
  }
  .CodeMirror-scroll{
      min-height: 600px;
  }
  .CodeMirror-lines{
      padding:1rem;
  }
}
