@use './defaults' as *;
@use './variables' as *;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-display: swap;
  font-weight: 100 1000;
}

* {
  box-sizing: border-box;
}

[hidden]:not([hidden='false']) {
  display: none;
}

@media screen {
  html {
    background-color: $main-background-color;
    font-family: 'Inter', serif;
    color: $main-color;
  }

  button,
  textarea {
    font-family: 'Inter', serif;
  }

  textarea {
    display: block;
    max-width: 100%;
    padding: calc(0.75em - 1px);
    resize: vertical;
    font-size: 0.9em;
    font-family:
      Consolas,
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace,
      serif;
  }

  textarea:not([rows]) {
    max-height: 40em;
    min-height: 8em;
  }

  html,
  body {
    height: 100%;
  }

  a {
    color: $main-color-links;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  ul,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  html,
  body {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
}

/* clears the ‘X’ from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.yRemoteSelectionHead {
  position: absolute;
  height: 100%;
  box-sizing: border-box;
}
