@use './defaults' as *;
@use './variables' as *;

@font-face {
  font-family: 'BellweatherSans-shownbsp';
  src: url('/fonts/BellweatherSans-shownbsp.woff2') format('woff2'),
    url('/fonts/BellweatherSans-shownbsp.woff') format('woff'),
    url('/fonts/BellweatherSans-shownbsp.ttf') format('truetype'),
    url('/fonts/BellweatherSans-shownbsp.svg') format('svg'),
    url('/fonts/BellweatherSans-shownbsp.eot');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

[hidden]:not([hidden="false"]) {
  display: none;
}

@media screen {
  html {
    background-color: $main-background-color;
    font-family: 'BellweatherSans-shownbsp', serif;
    color: $main-color;
  }

  button, textarea {
    font-family: 'BellweatherSans-shownbsp', serif;
  }


  textarea {
    display: block;
    max-width: 100%;
    padding: calc(.75em - 1px);
    resize: vertical;
    font-size: .9em;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  }

  textarea:not([rows]) {
    max-height: 40em;
    min-height: 8em;
  }

  html,
  body {
    height: 100%;
  }

  a {
    color: $main-color-links;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  ul,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  html,
  body {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
}
