// Toggle Darkmode
// $main-background-color: #202020;
// $main-color: #f0f0f0;
// $main-color-links: #ffffff;
$extra-background-color: #ffffff;
$main-background-color: #f5f5f5;
$main-color: #202020;
$main-lighter-color: #505050;
$muted-color: #818181;
$alternate-row-color: #f0f0f0;
$extra-color: #000000;
$main-color-links: #1565c0;

$main-border-color: #bbbbbb;

$error-color: #c9252d;

$beware-background: #ffe6e6;
$selected-background: #e6ffe6;

$button-primary-background: $main-color;
$button-primary-color: $main-background-color;
$button-secondary-background: $extra-background-color;
$button-secondary-color: $main-border-color;

$phone-width: 100%;

$tablet-breakpoint: 1080px;
$tablet-width: calc(1080px - 2rem);

$screen-breakpoint: 1400px;
$screen-width: 1080px;

$large-screen-breakpoint: 2160px;
$large-screen-width: 1500px;

// TODO remove when https://github.com/snowpackjs/snowpack/issues/2967 is solved
html {
  font-size: inherit;
}
