aside#yamlEditor{
  position: fixed;
    overflow: hidden;
    width:auto;
    right: 0;
    height: calc(100vh - 146px);
    overflow-y: auto;
    z-index: 500;
}
div#app aside#yamlEditor >  section.readOnly{
    color: #c0c0c0;
}
div#app aside#yamlEditor >  section {
  background-color:white;
  border:1px solid lightgrey;
  padding:1em;
  h1{
    font-size: 1.15em;
    margin:0;
    padding:0.5rem 1rem;
    background-color:#f0f0f0;
  }
  p.addToArray{
      margin:0 0 1rem 0;
      padding:0.5rem 1rem;
      background-color:#f0f0f0;
      cursor:pointer;
  }
  section.group {
    margin: 1em 0 0;
    border: 1px solid #f0f0f0;
  }
  .reactForm{
      display:flex;
      align-items: baseline;
      label{
        padding:0.5em 1em;
        display:block;
        flex:0 0 150px;
        margin:2px;
        box-shadow: 0 1px 1px #f0f0f0;;
        background-color:white;
        text-align: right;
      }
      input, textarea, select {
        padding:0.5em 1em;
        display:block;
        flex:1 1 auto;
        margin:2px;
        box-shadow: 0 1px 1px #f0f0f0;;
        background-color:white;
        text-align: left;
        border:none;
      }
      label.lcheckbox{
        flex:1 1 150px;
        text-align: left;
      }
      input.icheckbox {
        flex:0 0 auto;
        margin: 0.5em 0em 0.5em 1em;
      }
      textarea {
        min-height:3em;
      }
  }
  .keywords{
    display:flex;
    align-items: baseline;
    input {
      padding:0.5em 1em;
      display:block;
      flex:1 1 auto;
      margin:2px;
      box-shadow: 0 1px 1px #f0f0f0;;
      background-color:white;
      text-align: left;
      border:none;
    }
    input.controlled{
      background-color: #f0fff0;
    }
    i {
      padding:0.5em 1em;
      background-color:red;
      color:white;
      cursor: pointer;
    }
    i.validate{
      background-color:#7c7c7c;
    }
  }
  #toggleYamlEditor{
    cursor:pointer;
    padding: 1em;
    position: absolute;
    left: calc(-3em + 2px);
    top: -1px;
    background-color: white;
    border-color:#d3d3d3;
    border-width: 1px 0 1px 1px;
    border-style: solid;
  }
}
div#app aside#yamlEditor >  nav.open{
  background-color:white;
  padding:0.5rem 1rem;
  border-top: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  cursor:pointer;
}
div#app aside#yamlEditor >  nav.close{
  background-color:white;
  padding:0.5rem 1rem;
  border: 1px solid #c0c0c0;
  position: fixed;
  cursor:pointer;
}
div#app aside#yamlEditor >  nav.toggleEditor{
  background-color:white;
  padding:0.5rem 1rem;
  border-top: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  text-align: right;
  cursor:pointer;
}
