@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.container {
  @extend .wrapped-center;

  display: grid;
  grid-template-columns: minmax(200px, 1fr) auto auto;
  flex: 1;
  container-type: size;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
}

.content {
  position: relative;
  display: flex;
  container-type: size;
}

.editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  container-type: size;
}
