@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.section {
  @extend .wrapped-center;
  padding: 1.5rem 1rem;
  border: 1px solid $main-border-color;
  background-color: $extra-background-color;

  > h1 {
    margin-bottom: 1rem;
  }

  > p {
    margin-bottom: 1rem;
  }

  > article:nth-of-type(2n + 1) {
    background-color: $alternate-row-color;
  }
}

.header {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.introduction {
  padding-top: 0.5em;
  padding-bottom: 0.75em;
}

.corpusList {
  margin-top: 0.5em;
}

.message {
  margin-top: 0.5em;
}
