@font-face {
  font-family: 'Bitter';
  src: url('/uploads/fonts/bitter/bitter-regular-webfont.woff2') format('woff2'),
       url('/uploads/fonts/bitter/bitter-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  src: url('/uploads/fonts/bitter/bitter-italic-webfont.woff2') format('woff2'),
       url('/uploads/fonts/bitter/bitter-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Bitter';
  src: url('/uploads/fonts/bitter/bitter-bold-webfont.woff2') format('woff2'),
       url('/uploads/fonts/bitter/bitter-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  src: url('/uploads/fonts/bitter/bitter-bolditalic-webfont.woff2') format('woff2'),
       url('/uploads/fonts/bitter/bitter-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
