.header {
  margin-top: 1rem;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: 0.5rem;
  gap: 0.5em;
  flex: 1;
}

.tocTooltip.empty {
  cursor: not-allowed;
}

.tocTooltip {
  cursor: pointer;
}

.tocTooltip > svg {
  display: flex;
}

.writers {
  margin-left: 1rem;
  margin-right: 1rem;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  gap: 0.75rem;
  justify-content: space-between;
}
