@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.container {
  @extend .wrapped-center;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media screen and (min-width: $screen-breakpoint) {
    grid-template-columns: 3fr auto;
  }
}

.sidebarArea {
  height: calc(100vh - 3.3em /* size of the Header */ - 3rem /* size of the Footer */);
  width: fit-content;
}