.writers {
  margin-left: 1em;
  flex: 1;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  gap: 0.75rem;
}

.status {
  font-weight: 300;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1em;
}

.button {
  > div {
    display: flex;
    gap: 0.5em;

    > svg {
      stroke-width: 1.25;
    }
  }
}
