.header {
  display: flex;
  align-items: center;
  padding-bottom: 0.5em;
  margin-top: 1rem;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.5em;
  flex: 1;
}

.tocTooltip.empty {
  cursor: not-allowed;
}

.tocTooltip {
  cursor: pointer;
}

.tocTooltip > svg {
  display: flex;
}
