@use '../../styles/defaults' as *;
@use '../../styles/variables' as *;

.collaborativeEditor {

}

.hidden {
  display: none;
}

.editor {
  border: 1px solid $main-border-color;
  min-height: 200px;
  height: calc(100vh - 225px);

  :global {
    .monaco-editor {
      position: absolute;
    }
  }
}

.inlineStatus {
  position: absolute;
  z-index: 999;
  width: 100%;
}
