.avatarsList {
  display: flex;
  position: relative;
}

.dot {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;
}

.writer {
  position: relative;
  margin: 0 0 0 calc(-0.625 * 16px);
}
