@use '../../../styles/defaults' as *;
@use '../../../styles/variables' as *;

.container {
  display: flex;
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  height: 100cqh;
  padding-top: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 425px;
  min-width: 425px;
  //max-height: 100cqh;
  overflow-y: auto;
  padding-top: 1.75rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: transparent;
  border-left: 1px solid transparent;
}

@media screen and (max-width: $screen-breakpoint) {
  .content {
    position: absolute;
    height: 100%;
    z-index: 9999;
    display: flex;
    right: 0;
  }
}

.active {
  border-right: 1px solid $main-border-color;
  border-left-color: $main-border-color;
  background-color: $main-background-color;
}

.toggleMinimized {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  padding: 0.5rem 0.75rem;
  gap: 0.5rem;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.items {
  border-top: 1px solid #b6c0c8;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.placeholder {
  visibility: hidden;
  height: 1px;
}
